/* Light theme (default) */
:root {
  background: rgb(255, 248, 227);
  color: #111111;
}

:root.dark {
  background: #151515;
  color: #f1f1f1;
}

:root.dark code, pre {
  line-height: 1.4;
  background: #f4f4f4;
  color: black
}

:root.dark h1 {color: white} /* There you go Mike */

:root.dark a {
  color: #3B78FF;
}

.markdown-body {
  color: inherit;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.back, #theme-toggle {
  padding: 4px 8px;
}

body{
  width: 60%;
  margin: 0 auto;
}

code, pre {
  background: #f4f4f4;
  padding: 4px;
}

pre {
  padding: 12px;
  overflow-x: auto;
}


h1{
  color: #E34234;
  text-align: center;
}


p {
  text-align: justify;
}

canvas{
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}