/* Theme variables */
:root {
  --bg: #f6f1e7;
  --text: #1f2937;
  --heading: #E34234;
  --subtitle: #4b5563;
  --link: #2563eb;
  --border: #e5e7eb;

  --code-bg: #f4f4f4;
  --code-text: black;

  --button-bg: #f3f4f6;
  --button-border: #d1d5db;
  --button-hover: #e5e7eb;

  background: var(--bg);
  color: var(--text);
}

:root.dark {
  --bg: #151515;
  --text: #f1f1f1;
  --heading: #f8fafc; /* There you go Mike */
  --subtitle: #d1d5db;
  --link: #3B78FF;
  --border: rgba(255, 255, 255, 0.3);

  --code-bg: #f4f4f4;
  --code-text: black;

  background: var(--bg);
  color: var(--text);
}

/* Layout */
body {
  width: 60%;
  margin: 0 auto;
}

.markdown-body {
  color: inherit;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.back,
#theme-toggle {
  padding: 4px 8px;
}

/* Typography */
h1 {
  color: var(--heading);
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--subtitle);
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.25rem;
}

p {
  text-align: justify;
}

section {
  margin-bottom: 2.5rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Code blocks */
code,
pre {
  background: var(--code-bg);
  color: var(--code-text);
  padding: 2px;
}

pre {
  padding: 12px;
  overflow-x: auto;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-word;
}

/* Buttons */
button {
  font-size: 0.9rem;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  border: 1px solid var(--button-border);
  background: var(--button-bg);
  cursor: pointer;
}

button:hover {
  background: var(--button-hover);
}

footer {
  margin-top: 4rem;
  font-size: 0.85rem;
  color: #6b7280;
}

canvas {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

mjx-container,
mjx-container * {
  user-select: text;
}

mjx-container:focus {
  outline: none;
}