/* Theme variables */
:root {
  --page-bg: #f7f7f7;
  --body-bg: #ffffff;

  --text: #222222;
  --heading: #1c1c1c;
  --subtitle: #353535; 
  --link: #002f94;
  --border: #e6e6e3;

  --code-bg: #f3f4f6;  
  --code-text: #1f2937;

  --button-bg: #ffffff;
  --button-border: #d6d6d2;
  --button-hover: #f2f2f0;
}

/*
Old theme: Yellowed

:root {
  --page-bg: #f6f1e7;
  --body-bg: #fffbf5;

  --text: #1f2937;
  --heading: #360400;
  --subtitle: #4b5563;
  --link: #2563eb;
  --border: #e5e7eb;

  --code-bg: #f4f4f4;
  --code-text: black;

  --button-bg: #f6f1e7;
  --button-border: #d1d5db;
  --button-hover: #fffbf5;
}
*/

:root.dark {
  --page-bg: #151515;
  --body-bg: #1e1e1e;

  --text: #f1f1f1;
  --heading: #f8fafc;
  --subtitle: #e7e7e7;
  --link: #3B78FF;
  --border: rgba(255, 255, 255, 0.3);

  --button-bg: #151515;
  --button-border: rgba(255, 255, 255, 0.3);
  --button-hover: #1e1e1e;
}

/* Layout */
h1, h2, h3 {
  letter-spacing: -0.01em;
}

html {
  background: var(--page-bg);
  color: var(--text);

  font-family: 'Times New Roman', Times, serif
}

body {
  width: 60%;
  margin: 0 auto;
  background: var(--body-bg);
  padding: 2rem;
  min-height: 100vh;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.markdown-body {
  color: inherit;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.back,
#theme-toggle {
  padding: 4px 8px;
}

.icon-text {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  color: var(--text);
  width: 18px;
  height: auto;
}

/* Columns layout */
.columnar {
  display: flex;
  gap: 2rem;
}

.col {
  flex: var(--grow);
}

/* Typography */
h1 {
  color: var(--heading);
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--subtitle);
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.25rem;
}

p {
  text-align: justify;
}

section {
  margin-bottom: 2.5rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Code blocks */
code,
pre {
  background: var(--code-bg);
  color: var(--code-text);
  padding: 2px;
}

pre {
  padding: 12px;
  overflow-x: auto;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-word;
}

/* Buttons */
button {
  font-size: 0.9rem;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  border: 1px solid var(--button-border);
  background: var(--button-bg);
  cursor: pointer;
  color: var(--text);
}

button:hover {
  background: var(--button-hover);
}

footer {
  margin-top: 4rem;
  font-size: 0.85rem;
  color: #6b7280;
}

canvas {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

mjx-container,
mjx-container * {
  user-select: text;
}

mjx-container:focus {
  outline: none;
}