ErrorDocument 404 /404.html

AddDefaultCharset utf-8

AddCharset utf-8 .css .js .json

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]
