body{
    background-color:rgb(255, 248, 227);
    margin-left: 1%;
}

h1{
    color: #E34234;
}

canvas{
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}